//=========================
//  _variables.scss
//  Définition de toutes les variables
//=========================

//=========================
//  COLORS
//=========================
$textColor: #000;
$orangeColor: #ff5500;
$grisClairColor: #dbdbdb;
$grisFonceColor: #2d2d2c;

//=========================
//  FONT SIZES
//=========================


//=========================
//  LAYOUT
//=========================